<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop.xsd
    	http://www.springframework.org/schema/tx
    	http://www.springframework.org/schema/tx/spring-tx.xsd">
   	<import resource="classpath:applicationContext-dao.xml"/>
	<import resource="classpath:applicationContext_tx.xml"/>
	<bean id="albumService" class="com.qqSpace.service.impl.AlbumServiceimpl">
		<property name="albumDao" ref="albumDao"></property>
	</bean>
	
	<bean id="articleService" class="com.qqSpace.service.impl.ArticleServiceimpl">
		<property name="articleDao" ref="articleDao"></property>
	</bean>
	
	<bean id="commentService" class="com.qqSpace.service.impl.CommentServiceimpl">
		<property name="commentDao" ref="commentDao"></property>
		<property name="articleDao" ref="articleDao"></property>
		<property name="friendService" ref="friendService"></property>
	</bean>
	
	<bean id="friendService" class="com.qqSpace.service.impl.FriendServiceimpl">
		<property name="friendDao" ref="friendDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="messageBoardService" class="com.qqSpace.service.impl.MessageboardServiceimpl">
		<property name="messageboardDao" ref="messageboardDao"></property>
	</bean>
	
	<bean id="praiseService" class="com.qqSpace.service.impl.PraiseServiceimpl">
		<property name="praiseDao" ref="praiseDao"></property>
	</bean>
	
	<bean id="recommentService" class="com.qqSpace.service.impl.RecommentServiceimpl">
		<property name="recommentDao" ref="recommentDao"></property>
	</bean>
	
	<bean id="reMessageboardService" class="com.qqSpace.service.impl.ReMessageboardServiceimpl">
		<property name="remessageboardDao" ref="remessageboardDao"></property>
	</bean>
	
	<bean id="userService" class="com.qqSpace.service.impl.UserServiceimpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="dailyService" class="com.qqSpace.service.impl.DailyServiceimpl">
		<property name="dailyDao" ref="dailyDao"></property>
	</bean>
</beans>